<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/10/08 23:31:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.TearDown()[pri:0, instance:com.Test.Testscripts.TestScripts@5b275dab]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/08 23:31:09</td>   <td>-14988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.TestInitailizer()[pri:0, instance:com.Test.Testscripts.TestScripts@5b275dab]">&gt;&gt;TestInitailizer</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/10/08 23:31:16</td>   <td>-7684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.Verify_loginPage(java.lang.String, java.lang.String)[pri:0, instance:com.Test.Testscripts.TestScripts@5b275dab]">Verify_loginPage</td> 
  <td>main@267760927</td>   <td></td> </tr>
</table>
